.sec2CardStyle{
    width:23% ;
    height: 300px;
    border-radius: 0% ;
    cursor: pointer;
    border: 2px solid black;

}

.sec2SelectCardStyle{
    width:23% ;
    height: 300px;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid #337ab7;
}


.sec2SelectedCardContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "Roboto";
}

.sec2SelectedCardHeading
{
   margin-top: -1%;
   font-size: 20px;
   font-weight: 700;
}

.sec2SelectedCardSubHeading
{
   font-size: 14px;
   font-weight: 600;
   text-align: center;
}

.sec2SelectedCardText
{
   font-size: 12px;
   text-align: justify;
   padding: 3% 4%;
   font-weight: 400;

}

.sec2SelectedCardButton{
    width: 25%;
}

.sec2CardImage{
    width: 250px;
    height: 200px;
}

.sec2SelectedCardImageSize{
    width: 100px;
    height: 100px;
}

@media screen and (min-width: 1501px) and (max-width: 1600px)
{

    .sec2CardImage{
        width: 230px;
        height: 200px;
    }
}

@media screen and (min-width: 1451px) and (max-width: 1500px)
{
    .sec2CardStyle{
        width:28%;

    }
    
    .sec2SelectCardStyle{
        width:28% ;
         }

}

@media screen and (min-width: 1280px) and (max-width: 1450px)
{
    .sec2CardStyle{
        width:30% ;
        height: 280px;
        margin-bottom: 10px;

    }
    
    .sec2SelectCardStyle{
        width:30% ;
        height: 280px;
        margin-bottom: 10px;

        }
    
    .sec2SelectedCardHeading
    {
       font-size: 18px;
    }
    
    .sec2SelectedCardSubHeading
    {
       font-size: 14px;
    }
    
    .sec2SelectedCardText
    {
       font-size: 10px;
    
    }
    
    .sec2SelectedCardButton{
        width: 50%;
    }
}

@media screen and (min-width: 1101px) and (max-width: 1279px)
{
    .sec2CardStyle{
        width:32% ;
        height: 280px;
        margin-bottom: 10px;

    }
    
    .sec2SelectCardStyle{
        width:32% ;
        height: 280px;
        margin-bottom: 10px;

        }
    
    .sec2SelectedCardHeading
    {
       font-size: 18px;
    }
    
    .sec2SelectedCardSubHeading
    {
       font-size: 14px;
    }
    
    .sec2SelectedCardText
    {
       font-size: 10px;
    
    }
    
    .sec2SelectedCardButton{
        width: 50%;
    }

    .sec2CardImage{
        width: 200px;
        height: 200px;
    }
       
}

@media screen and (min-width: 1020px) and (max-width: 1100px)

{
    .sec2CardStyle{
        width:32% ;
        height: 280px;
        margin-bottom: 10px;

    }
    
    .sec2SelectCardStyle{
        width:32% ;
        height: 280px;
        margin-bottom: 10px;

        }
    
    .sec2SelectedCardHeading
    {
       font-size: 18px;
    }
    
    .sec2SelectedCardSubHeading
    {
       font-size: 14px;
    }
    
    .sec2SelectedCardText
    {
       font-size: 10px;
    
    }
    
    .sec2SelectedCardButton{
        width: 50%;
    }

    .sec2CardImage{
        width: 200px;
        height: 200px;
    }
              
}

@media screen and (min-width: 810px) and (max-width: 1019px)

{
    .sec2CardStyle{
        width:45% ;
        height: 200px;
        margin-bottom: 10px;

    }
    
    .sec2SelectCardStyle{
        width:45% ;
        height: 200px;
        margin-bottom: 10px;
        }
    
    .sec2SelectedCardHeading
    {
       font-size: 12px;
    }
    
    .sec2SelectedCardSubHeading
    {
       font-size: 10px;
    }
    
    .sec2SelectedCardText
    {
       font-size: 8px;
    
    }
    
    .sec2SelectedCardButton{
        width: 50%;
    }

    .sec2CardImage{
        width: 150px;
        height: 150px;
    }

    .sec2SelectedCardImageSize{
        width: 65px;
        height: 65px;
    }
}

@media screen and (min-width: 600px) and (max-width: 809px)

{  .sec2CardStyle{
    width:45% ;
    height: 200px;
    margin-bottom: 10px;

}

.sec2SelectCardStyle{
    width:45% ;
    height: 200px;
    margin-bottom: 10px;
    }

.sec2SelectedCardHeading
{
   font-size: 12px;
}

.sec2SelectedCardSubHeading
{
   font-size: 10px;
}

.sec2SelectedCardText
{
   font-size: 8px;

}

.sec2SelectedCardButton{
    width: 50%;
}

.sec2CardImage{
    width: 150px;
    height: 150px;
}

.sec2SelectedCardImageSize{
    width: 50px;
    height: 50px;
}
    
}

@media screen and (max-width: 599px) 
{
    .sec2CardStyle{
        width:45% ;
        height: 170px;
        margin-bottom: 10px;
    
    }
    
    .sec2SelectCardStyle{
        width:45% ;
        height: 170px;
        margin-bottom: 10px;
        }
    
    .sec2SelectedCardHeading
    {
       font-size: 12px;
    }
    
    .sec2SelectedCardSubHeading
    {
       font-size: 8px;
    }
    
    .sec2SelectedCardText
    {
       font-size: 6px;
    
    }
    
    .sec2SelectedCardButton{
        width: 50%;
    }
    
    .sec2CardImage{
        width: 130px;
        height: 130px;
    }
    
    .sec2SelectedCardImageSize{
        width: 50px;
        height: 50px;
    }
    
}
