

/* Section 1 */

.sec1MainContainer
{
    display: flex;
    justify-content: space-between;
    padding: 0.5%;
}

.sec1ContentConatiner
{
    padding: 0% 1%;
    display: flex;
    flex-direction: column;
    text-align: justify;
    height: 500px;
    justify-content: center;
    font-family: "Roboto";
}

.sec1Heading
{
  font-size: 34px;
  margin: 15px 0px;
  color: #337ab7;
  
}

.sec1Text
{
    font-size: 28px;
}

.sec1ButtonContainer
{
    margin-top: 20px;
    width: 250px;
}

.sec1ImageConatiner
{
    width: 650px;
    height: 500px;
    object-fit: contain;
}

/* section 2 */

.sec2MainContainer
{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    height: 700px
}

.sec2TextContainer
{
    flex-direction: column;
    background-color: #337ab7;
    width: 25%;
    font-family: "Roboto";
    align-items: center;
    padding: 15px;
}

.sec2Heading
{
    
    font-size: 34px;
    color: White;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.sec2Text
{
    font-size: 30px;
    font-weight: 500;
    text-align: center;

}

.sec2ServicesCardContainer{
    width: 75%;
    padding-left: 20px;
    padding-right: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.sec2ButtonContainer
{
    margin-top: 40px;
    width: 250px;
}

@media screen and (min-width: 1280px) and (max-width: 1450px)
{
    /* Section 1 */
    .sec1Heading
    {
        font-size: 24px;
    }
        
    .sec1Text
    {
        font-size: 21px;
    }

    /* section 2 */

    .sec2Heading
    {
        font-size: 30px;
       
    }

    .sec2Text
    {
        font-size: 26px;
    }

    .sec2ButtonContainer{

        margin-top: 30px;
    }
        
}

@media screen and (min-width: 1101px) and (max-width: 1279px)
{
    /* Section 1 */

    .sec1Heading
    {
      font-size: 22px;
    }

    .sec1Text
    {
        font-size: 20px;
    }

    .sec1ImageConatiner
    {
        width: 600px;
    }

       /* section 2 */

       .sec2Heading
       {
           font-size: 26px;
          
       }
   
       .sec2Text
       {
           font-size: 24px;
       }
   
       
}

@media screen and (min-width: 1020px) and (max-width: 1100px)

{
    /* Section 1 */

    .sec1ContentConatiner
    {
        height: 400px;
        padding: 0% 1%;
    }

    .sec1Heading
    {
      font-size: 20px;

    }

    .sec1Text
    {
        font-size: 16px;
    }

    .sec1ImageConatiner
    {
        width: 500px;
        height: 400px;
    }

    /* section 2 */

    .sec2Heading
    {
        font-size: 26px;
        
    }

    .sec2Text
    {
        font-size: 24px;
    }

       
}

@media screen and (min-width: 810px) and (max-width: 1019px)

{
    /* Section 1 */

    .sec1ContentConatiner
    {
        height: 320px;
        padding: 0% 1%;
    }

    .sec1Heading
    {
      font-size: 16px;

    }

    .sec1Text
    {
        font-size: 13px;
    }

    .sec1ImageConatiner
    {
        width: 400px;
        height: 320px;
    }

    .sec1ButtonContainer
    {
        width: 150px;
    }

    /* section 2 */

    .sec2Heading
    {
        font-size: 24px;
        
    }

    .sec2Text
    {
        font-size: 20px;
    }

    .sec2ButtonContainer
    {
        width: 150px;
    }
    
}

@media screen and (min-width: 600px) and (max-width: 809px)

{
    /* Section 1 */

    .sec1ContentConatiner
    {
        height: 300px;
        padding: 0% 1%;
    }

    .sec1Heading
    {
      font-size: 14px;

    }

    .sec1Text
    {
        font-size: 11px;
    }

    .sec1ImageConatiner
    {
        width: 370px;
        height: 300px;
    }

    .sec1ButtonContainer
    {
        width: 150px;
    }

    /* section 2 */

    .sec2Heading
    {
        font-size: 22px;
        
    }

    .sec2Text
    {
        font-size: 19px;
    }

    .sec2ButtonContainer
    {
        width: 150px;
    }
    
}

@media screen and (max-width: 599px) 
{
    /* Section 1 */

    .sec1MainContainer
{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

    .sec1ContentConatiner
    {
        margin-top: -20px;
        padding: 0% 1%;
        height: 300px;
    }

    .sec1Heading
    {
      font-size: 14px;
    }

    .sec1Text
    {
        font-size: 11px;
    }

    .sec1ImageConatiner
    {
        width: 100%;
        height: 300px;
    }

    .sec1ButtonContainer
    {
        width: 150px;
    }

    /* section 2 */
        
    .sec2MainContainer
    {
        justify-content: center;
        flex-direction: column;
        height: max-content;
    }

    .sec2TextContainer
    {
        width: 92%;
    }

    .sec2Heading
    {
        font-size: 28px;
    }

    .sec2Text
    {
        font-size: 20px;

    }

    .sec2ServicesCardContainer{
        width: 100%;
    }

    .sec2ButtonContainer
    {
        margin-top: 20px;
        width: 150px;
    }
    
}
