.tempClass{
    height: 70vh;
    color: black;
}

.blueContactSocialConatiner{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.blueContactConatiner{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.blueItemConatiner{
    display: flex;
    align-items: center;
    margin-left: 30px;
    
}

.blueItemText{
  font-family: "Roboto";
  font-size: 22px;
  font-weight: 700;
  margin-left: 20px;

}

.blueSocialContainer{
    display: flex;
    justify-content: space-between;
    margin-left: 2%;
}

.blueSoicalImageSize{
    width: 20px;
    height: 20px;
    margin-left: 5px;
}


.blueMenuContainer{
    width: 100%;
    height: 50px;
    background-color: #337ab7;
    margin-top: 0.5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blueMenuItem{
    display: flex;
    width: 75%;
    justify-content: space-between;
    margin-left: 3%;
}

.blueMenuItemStyle{
    color: white;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blueMenuItemSelectedStyle{
    color: white;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 900; 
    text-decoration: underline;
    background-color: black;
    height: 50px;
    width: max-content;
    display: flex;
    padding: 0px 5px;
    justify-content: center;
    align-items: center;
}

.blueMenuImageSize{height: 50px;}

.blueMenuButton{
    background-color: red;
    width: 160px;
    height: 100%;
    margin-left: 1%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    color: white;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}

.mobDrawerButton{
    display: none;
}


@media screen and (max-width: 500px) {

    .blueContactConatiner{
        justify-content: center;
    }

    .blueSocialContainer{
        margin-right: 20px;
    }

    .blueSoicalImageSize{
        width: 12px;
        height: 12px;
        margin-left: 5px;
    }

    .blueItemConatiner{
       margin-left: 5px;
    }
    
    .blueItemText{
      font-size: 10px;
      margin-left: 10px;
    }
    
    /* menu */

.mobDrawerButton{
    display: flex;
    margin-top:3%;
    justify-content: center;
    align-items: center;
    background-color: #337ab7;
    color: black;
    border-radius: 0% !important;
}

.blueMenuContainer{
    display: none;
}

.blueMenuItem{
    display: flex;
    width: max-content;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    margin-left: 0%;
    background-color: #337ab7;
    flex-direction: column;
    padding-top: 5px ;
    width: 120px;

}

.blueMenuItemStyle{
    font-size: 14px;
    font-weight: 900;
    text-align: center;
    height: 50px;
    padding: 10%;   
}

.blueMenuItemSelectedStyle{
    font-size: 14px;
    font-weight: 900; 
    height: 50px;
    width: 130px;
    padding:10%;
    text-align: center;
}


.blueMenuButton{
    width: 130px;
    height: max-content;
    margin-left: 0%;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    font-size: 14px;
    font-weight: 900;
    padding: 20px 0px;
    text-align: center;
} 

.blueMenuImageSize{
    height: 100px;
}

    
}

@media screen and (min-width: 501px) and (max-width: 650px) {

    .blueSocialContainer{
        margin-right: 20px;
    }

    .blueSoicalImageSize{
        width: 20px;
        height: 20px;
        margin-left: 5px;
    }

    .blueItemConatiner{
        margin-left: 5px;
    }
    
    .blueItemText{
      font-size: 12px;
      margin-left: 10px;

    }

    /* .blueMenuContainer{
        height: px;     
    } */

    .blueMenuItemStyle{
        font-size: 10px;  
    }

    .blueMenuItemSelectedStyle{
        font-size: 10px;
        height: 50px;     

    }

   .blueMenuImageSize{height: 50px;}

    .blueMenuButton{
        width: 100px;
        font-size: 10px;
        padding: 0% 4px;
    }
}

@media screen and (min-width: 651px) and (max-width: 820px) {

    .blueSoicalImageSize{
        width: 20px;
        height: 20px;
        margin-left: 10px;
    }

    .blueItemConatiner{
        margin-left: 10px;  
    }
    
    .blueItemText{
      font-size: 18px;
      margin-left: 10px;

    }

    /* .blueMenuContainer{
        height: 70px;     
    } */

    .blueMenuItemStyle{
        font-size: 14px;  
    }

    .blueMenuItemSelectedStyle{
        font-size: 14px;
        height: 50px;     

    }

   .blueMenuImageSize{height: 50px;}

    .blueMenuButton{
        width: 100px;
        font-size: 14px;
        padding: 0% 4px;
    }
}

@media screen and (min-width: 821px) and (max-width: 950px) {
 
    .blueSoicalImageSize{
        margin-left: 10px;
    }

    .blueMenuItemStyle{
        font-size: 16px;  
    }

    .blueMenuItemSelectedStyle{
        font-size: 16px;
        height: 50px;     
    }

    .blueMenuImageSize{height: 50px;}

    /* .blueMenuContainer{
        height: 80px;     
    } */

    .blueMenuButton{
        font-size: 14px;
        width: 100px;
        margin-left: 3%;
    }

}


@media screen and (min-width: 951px) and (max-width: 1100px) {
 
    .blueSoicalImageSize{
        margin-left: 10px;
    }


    /* .blueMenuContainer{
        height: 80px;     
    } */

    .blueMenuItemStyle{
        font-size: 18px;  
    }

    .blueMenuItemSelectedStyle{
        font-size: 18px;
        height: 50px;
    }

    .blueMenuButton{
        width: 100px;
        font-size: 12px;
        font-weight: bolder;
      
    }

   .blueMenuImageSize{height: 50px;}
 
}

@media screen and (min-width: 1101px) and (max-width: 1280px) {

    .blueSoicalImageSize{
        margin-left: 10px;
    }

 
}
