body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.appColor{
  color: #337AB7;
}

.appJustifyAlignCenterItem{
  display: flex;
  justify-content: center;
  align-items: center;
}

.appAligCenterItem{
  display: flex;
  align-items: center;
}

.appJustifyCenterItem{
  display: flex;
  justify-content: center;
}

p{
  margin: 0%;
  padding: 0%;
}

h1{
  margin: 0%;
  padding: 0%;
}

h2{
  margin: 0%;
  padding: 0%;
}

h3{
  margin: 0%;
  padding: 0%;
}

h4{
  margin: 0%;
  padding: 0%;
}


/* 
ant class changes 
:where(.css-dev-only-do-not-override-1m62vyb).ant-drawer .ant-drawer-header {

  padding: 0% !important;
}

:where(.css-dev-only-do-not-override-1m62vyb).ant-drawer .ant-drawer-body{
  padding: 0% !important;
  margin-top: -7%;
  background-color: #337ab7;
} */

.ant-modal .ant-modal-content{
  padding: 0px !important;
}